Repository SteffenHaeussler/sim_frontend: changes, and which Codecov flags are due for each by the changed paths.
All: python, javascript

changes
  docs/scenario_analysis_guide.md
  docs/websocket_protocol.md
  src/app/auth/router.py
  src/app/auth/schemas.py
  src/app/core/health_router.py
  src/app/core/schema.py
  src/app/main.py
  src/app/models/database.py
  src/app/ratings/schemas.py
  src/app/services/http_client.py
  src/app/services/parallel_agent_caller.py
  tests/test_input_validation.py
  tests/test_websocket_health.py
Due: python

fixed smaller issues
  src/app/auth/jwt_utils.py
  src/app/auth/router.py
  src/app/auth/schemas.py
  src/app/core/asset_router.py
  src/app/core/frontend_router.py
  src/app/middleware/request_analyzer.py
  src/app/middleware/response_analyzer.py
  src/app/services/asset_service.py
  src/app/services/email_service.py
  src/app/services/http_client.py
  src/app/services/parallel_agent_caller.py
  src/app/services/search_service.py
  src/app/utils/config_helpers.py
  src/app/utils/constants.py
  src/app/utils/error_handlers.py
  src/app/utils/logging_utils.py
  src/app/utils/response_models.py
  tests/test_core_endpoints.py
  tests/test_error_handlers.py
Due: python

more changes
  src/app/core/asset_router.py
  src/app/core/static/js/lookup/neighbor-search.js
  src/app/services/asset_service.py
  src/app/services/http_client.py
  tests/test_core_endpoints.py
Due: python, javascript

added scenarios
  src/app/core/static/js/app.js
Due: python, javascript

added auto-hook
  .github/workflows/auto-approve.yml
Due: none

refactoring
  tests/test_auth_with_db_mocking.py
  tests/test_email_service.py
  tests/test_jwt_utils.py
  tests/test_request_analyzer.py
  tests/test_request_timer.py
Due: none

fix hook
  .github/workflows/auto-approve.yml
Due: none

Path conditions:
  python: any of: src/
  javascript: any of: src/app/core/static/js/
